# Configuration file

~CONFIG_VERSION: 0.1.0

##########################################################################################################
# advanced
#--------------------------------------------------------------------------------------------------------#
# 用于更改 JEI 功能的高级配置。
##########################################################################################################

advanced {
    S:itemBlacklist <
        forestry:crated.natura.overworld_logs.0
        forestry:crated.natura.edibles.1
        forestry:crated.natura.overworld_logs.1
        forestry:crated.natura.edibles.0
        forestry:crated.natura.edibles.3
        forestry:crated.natura.edibles.2
        forestry:crated.natura.edibles.5
        forestry:crated.natura.edibles.4
        forestry:crated.natura.edibles.7
        forestry:crated.natura.redwood_sapling.0
        forestry:crated.natura.edibles.6
        forestry:crated.natura.edibles.9
        forestry:crated.natura.edibles.8
        forestry:crated.natura.overworld_logs.2
        forestry:crated.natura.overworld_logs.3
        forestry:crated.natura.nether_logs.1
        forestry:crated.natura.nether_logs.0
        forestry:crated.stonediorite
        forestry:crated.minecraft.cookie.0
        forestry:crated.natura.nether_logs.2
        forestry:crated.natura.nether_sapling.0
        forestry:crated.croppotato
        forestry:crated.natura.nether_sapling.1
        forestry:crated.natura.nether_sapling.2
        forestry:crated.natura.edibles.10
        forestry:crated.natura.overworld_logs2.2
        forestry:crated.natura.overworld_sapling.0
        forestry:crated.natura.overworld_logs2.3
        forestry:crated.blockprismarinebrick
        forestry:crated.natura.overworld_logs2.0
        forestry:crated.natura.overworld_sapling.2
        forestry:crated.minecraft.clay_ball.0
        forestry:crated.natura.overworld_logs2.1
        forestry:crated.natura.overworld_sapling.1
        forestry:crated.natura.overworld_sapling.3
        forestry:crated.forestry.fertilizer_compound.0
        forestry:crated.gravel
        forestry:crated.natura.saguaro_fruit_item.0
        forestry:crated.dustglowstone
        forestry:crated.sugarcane
        forestry:crated.minecraft.brick_block.0
        forestry:crated.cropcarrot
        forestry:crated.minecraft.sand.1
        forestry:crated.minecraft.sand.0
        forestry:crated.minecraft.dirt.2
        forestry:crated.forestry.ash.0
        forestry:crated.natura.nether_logs2.0
        forestry:crated.forestry.apatite.0
        forestry:crated.netherrack
        forestry:crated.forestry.bee_combs.3
        forestry:crated.forestry.bee_combs.2
        forestry:crated.forestry.bee_combs.1
        forestry:crated.minecraft.apple.0
        forestry:crated.forestry.bee_combs.0
        forestry:crated.forestry.bee_combs.7
        forestry:crated.forestry.bee_combs.6
        forestry:crated.forestry.bee_combs.5
        forestry:crated.forestry.bee_combs.4
        forestry:crated.forestry.royal_jelly.0
        forestry:crated.forestry.bee_combs.8
        modularmachinery:itemblueprint
        forestry:crated.forestry.peat.0
        forestry:crated.minecraft.sandstone.0
        forestry:crated.minecraft.nether_brick.0
        forestry:crated.minecraft.mycelium.0
        forestry:crated.dirt
        forestry:crated.minecraft.wheat_seeds.0
        forestry:crated.ingottin
        forestry:crated.minecraft.nether_wart.0
        forestry:crated.obsidian
        forestry:crated.minecraft.dye.4
        forestry:crated.natura.overworld_sapling2.3
        forestry:crated.natura.overworld_sapling2.2
        forestry:crated.blockprismarinedark
        forestry:crated.natura.overworld_sapling2.1
        forestry:crated.natura.overworld_sapling2.0
        forestry:crated.natura.materials.8
        forestry:crated.stonegranite
        forestry:crated.natura.materials.6
        forestry:crated.natura.materials.7
        forestry:crated.natura.nether_logs2.15
        forestry:crated.stone
        forestry:crated.minecraft.sapling.0
        forestry:crated.minecraft.sapling.1
        forestry:crated.minecraft.sapling.4
        forestry:crated.minecraft.sapling.5
        forestry:crated.minecraft.sapling.2
        forestry:crated.minecraft.sapling.3
        forestry:crated.forestry.honeydew.0
        forestry:crated.minecraft.log.1
        forestry:crated.minecraft.log.0
        forestry:crated.dustredstone
        forestry:crated.minecraft.log2.0
        forestry:crated.minecraft.log2.1
        forestry:crated.forestry.pollen.1
        forestry:crated.natura.materials.0
        forestry:crated.natura.materials.1
        forestry:crated.blockcactus
        forestry:crated.natura.nether_glowshroom.2
        forestry:crated.forestry.pollen.0
        forestry:crated.minecraft.coal.0
        forestry:crated.natura.nether_sapling2.0
        forestry:crated.natura.nether_glowshroom.0
        forestry:crated.natura.materials.4
        forestry:crated.natura.nether_glowshroom.1
        forestry:crated.natura.materials.5
        forestry:crated.stoneandesite
        forestry:crated.natura.materials.2
        forestry:crated.minecraft.coal.1
        forestry:crated.natura.materials.3
        forestry:crated.forestry.mulch.0
        forestry:crated.forestry.phosphor.0
        forestry:crated.minecraft.log.3
        forestry:crated.minecraft.log.2
        forestry:crated.forestry.bee_combs.14
        forestry:crated.natura.overworld_seeds.0
        forestry:crated.cobblestone
        forestry:crated.forestry.bee_combs.10
        forestry:crated.forestry.propolis.0
        forestry:crated.minecraft.soul_sand.0
        forestry:crated.forestry.fruits.5
        forestry:crated.forestry.fruits.4
        forestry:crated.forestry.fruits.6
        forestry:crated.forestry.fruits.1
        forestry:crated.forestry.fruits.0
        forestry:crated.forestry.fruits.3
        forestry:crated.forestry.fruits.2
        forestry:crated.forestry.bee_combs.16
        forestry:crated.natura.soups.9
        forestry:crated.forestry.bee_combs.15
        forestry:crated.natura.overworld_seeds.1
        forestry:crated.natura.edibles.11
        forestry:crated.ingotbronze
        forestry:crated.forestry.beeswax.0
        forestry:crated.cropwheat
        forestry:crated.natura.redwood_logs.2
        forestry:crated.forestry.bog_earth.0
        forestry:crated.forestry.refractory_wax.0
        forestry:crated.blockprismarine
        forestry:crated.forestry.humus.0
        forestry:crated.ingotcopper
        forestry:crated.natura.redwood_logs.1
        forestry:crated.natura.redwood_logs.0
     >
}


